.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #e1e6eb;
  padding-top: 24px;
  margin-top: 24px;
}

.articlesWrapper {
  border-right: 1px solid #e1e6eb;
  padding-right: 24px;
  margin-right: 24px;
  width: 100%;
  margin-bottom:48px;
}

@media screen and (width <= 75em) {
  .container {
    flex-direction: column;
  }
  
  .articlesWrapper {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
  }
}