.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e1e6eb;
  gap: 24px;
}

.container:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.articleInfo {
  font-size: 12px;
  display: flex;
  font-family: var(--trt);
  gap: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-weight: 500;
}

.articleInfo .category {
  color: #0089cc;
}

.articleInfo .date {
  color: #a0a5aa;
}

.articleText {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--noto-serif);
}

.articleText h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.articleText p {
  font-size: 16px;
}
