* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1352px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 36em) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 62em) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 87.5em) {
  .container {
    max-width: 1252px;
    padding-right: 0;
    padding-left: 0;
  }
}
