.container {
  margin-top: 64px;
}

.articleWrapper {
  width: 100%;
  display: flex;
  margin-top: 40px;
}

.catDate {
  font-family: var(--trt);
  font-weight: 700;
  display: flex;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 8px;
}

.category {
  color: #0089cc;
}

.date {
  color: #a0a5aa;
}

.about {
  padding-right: 344px;
  margin-top: 20px;
  font-family: var(--noto-serif);
}

.column {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e1e6eb;
  margin-right: 24px;
  padding-right: 24px;
  width: 100%;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -1px;
}

.description {
  color: #63676c;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  margin-top: 20px;
}

.imageInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.imageSource {
  font-family: var(--trt);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #a0a5aa;
}

.imageCaption {
  font-family: var(--noto-serif);
  font-size: 14px;
  color: #63676c;
}

.articleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  padding-left: 172px;
  padding-right: 172px;
  font-family: var(--noto-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.articleContainer .paragraph {
  width: 100%;
  margin-bottom: 28px;
}

.articleContainer h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  margin-bottom: 28px;
}

.sourceTitle {
  font-family: var(--trt);
  font-weight: 700;
  color: #a0a5aa;
  text-transform: uppercase;
  font-size: 12px;
}

.sourceName {
  font-family: var(--trt);
  font-weight: 700;
  margin-left: 8px;
  color: #22262a;
  text-transform: uppercase;
  font-size: 12px;
}

@media screen and (width < 75em ) {
  .articleContainer {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about {
    padding-right: 224px;
  
  }
}

@media screen and (width < 62em ) {
  .column {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
  .sideWrapper {
    display: none;
  }

  .about {
    padding-right: 0;
  }
}

@media screen and (width < 48em ) {
  .articleContainer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}