.container {
  margin-top: 64px;
}

.articleWrapper {
  display: flex;
  margin-top: 40px;
}

.catDate {
  display: flex;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 8px;
}

.category {
  color: #0089cc;
  font-weight: bold;
}

.date {
  color: #a0a5aa;
}

.about {
  padding-right: 344px;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e1e6eb;
  margin-right: 24px;
  padding-right: 24px;
  
}


.title {
  color: #000;
  font-family: "Noto Serif";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -1px;
}

.description {
  color: var(--Ink-30, #63676c);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Noto Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.imageInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.imageSource {
  font-size: 12px;
  letter-spacing: 1px;
  color: #a0a5aa;
}

.imageCaption {
  font-size: 14px;
  color: #63676c;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  padding-left: 172px;
  padding-right: 172px;
}

.articleContainer .paragraph {
  margin-bottom: 28px;
  font-family: "Noto Serif";
}

.articleContainer h2 {
  color: #000;
font-family: "Noto Serif";
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
margin-bottom: 28px;
}

.sourceTitle {
  color: #a0a5aa;
}

.sourceName {
  margin-left: 8px;
    color: #22262a;
}

.hr {
  border-top: 1px solid #E1E6EB;
  margin-top: 24px;
  padding-top: 24px;
}
