.relatedArticle {
  display: flex;
  gap: 12px;
  align-items: center;
}

.relatedArticleTitle {
  color: #000;
  font-family: var(--noto-serif);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

.articleSource {
  font-family: "system-ui";
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
}
