.topics {
  margin-bottom: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--trt);
  font-weight: 400;
}

.topics a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #63676d;
}

.topicsMain {
  font-weight: bold;
}

.topicsMain a {
  color: #000;
  font-weight: bold;
}

.topics ul {
  display: flex;
}

.topics li {
  border-right: 1px solid #e1e6eb; /* Change color as needed */
  padding-right: 24px; /* Add space around the border */
  margin-left: 24px;
}

.topics li:last-child {
  border-right: none;
}

.topics li:first-child {
  margin-left: 0;
}

@media screen and (width <= 62em) {
  .topics {
    display: none;  
  }
}
